<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="./style.css" rel="stylesheet">
    <script async src="https://www.instagram.com/embed.js" crossorigin></script>
</head>

<body class="bg-stone-50 text-stone-900 p-1">
    <div class="container mx-auto max-w-screen-xl">
        <div class="bg-yellow-400 p-8 rounded-2xl shadow-md mb-4">
            <h1 class="text-5xl font-bold mb-4 tracking-tight text-balance">
                <%= heading %>
            </h1>
            <p class="text-xl text-pretty mb-2">
                <%= desc_prefix %> <strong>
                        <%= poster_title %>
                    </strong>
            </p>
            <% blurbs.forEach(blurb=> { %>
                <p class="text-xl text-pretty mb-2">
                    <%= blurb %>
                </p>
                <% }); %>
        </div>
        <% content.forEach((c, i)=> { %>
            <div id="<%= i + 1 %>"
                class="bg-stone-100 overflow-hidden rounded-2xl shadow-md mb-4 border-2 border-stone-900">
                <div class="font-[Inter] flex flex-row justify-between bg-teal-400 p-4 text-4xl font-bold tracking-tight border-b-2 border-stone-900">
                    <div>#<%= i + 1 %></div>
                    <div>
                        <% if (c.poster) { %>
                            <button type="button"
                                class="bg-stone-50 text-stone-900 border-2 border-fuchsia-400 font-medium rounded-lg text-sm md:text-lg px-3 py-2 text-center inline-flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path class="w-6 h-6 text-fuchsia-500" stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                                  </svg>
                                <span class="uppercase">Featured on poster</span>
                            </button>
                            <% } %>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row">
                    <div class="md:w-1/2 p-4 flex items-center justify-center">
                        <blockquote class="instagram-media max-w-[540px] min-w-[326px] w-full" data-instgrm-captioned
                            data-instgrm-permalink="<%= c.link %>" data-instgrm-version="14">
                        </blockquote>
                    </div>
                    <div class="md:w-1/2 p-4 text-xl md:text-2xl text-pretty">
                                <p>
                                    <%- c.commentary %>
                                </p>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
</body>

</html>